In [18]:
import pandas as pd
import numpy as np

# Read filtered CSV
df = pd.read_csv("../data/football_2023_2024_top5_clean.csv")

# Create Target Variable

In [ ]:
# Create the target 
df["home_win"] = (df["home_goals"] > df["away_goals"]).astype(int)

# Verfies that home wins are created
print("Target distribution (counts):")
print(df["home_win"].value_counts())

print("\nTarget distribution (proportions):")
print(df["home_win"].value_counts(normalize=True).round(3))

# Verify that more home goals results in home win
df[["League", "home_goals", "away_goals", "home_win"]].sample(10)

Target distribution (counts):
home_win
0    847
1    637
Name: count, dtype: int64

Target distribution (proportions):
home_win
0    0.571
1    0.429
Name: proportion, dtype: float64

              League  home_goals  away_goals  home_win
420          Ligue-1           1           0         1
475          Ligue-1           2           1         1
633   Premier-league           2           3         0
613          Ligue-1           1           2         0
530          Ligue-1           1           1         0
465          Ligue-1           4           0         1
1466          Laliga           0           3         0
971   Premier-league           1           2         0
675   Premier-league           6           0         1
1173         Serie-a           1           2         0

In [ ]:
# Create home and away differential features
df["xg_diff"] = df["xg_home"] - df["xg_away"]
df["possesion_diff"] = df["possesion_home"] - df["possesion_away"]
df["shots_on_target_diff"] = df["shots_on_target_home"] - df["shots_on_target_away"]
df["corners_diff"] = df["corners_home"] - df["corners_away"]
df["passes_diff"] = df["passes_home"] - df["passes_away"]

   xg_home  xg_away  xg_diff
0     1.94     2.76    -0.82
1     1.32     2.25    -0.93
2     2.86     0.77     2.09
3     2.83     0.42     2.41
4     2.02     1.73     0.29
5     0.92     2.56    -1.64
6     2.21     1.59     0.62
7     1.84     1.45     0.39
8     2.68     1.04     1.64
9     3.87     1.98     1.89